<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Kutubxona.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D03ED83E2DDEDB45009EF198</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D03ED8502DDEDB47009EF198</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D03ED85A2DDEDB47009EF198</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
